@using Common.Constants
@model AdminApplicantIndexViewModel

@{
    ViewData["Title"] = "Applicants Administration";
}
<br />
<h2 class="text-center">@ViewData["Title"]</h2>
<br />
<div class="text-center">
    <a class="btn btn-success" style="margin-right: 15px" asp-area="Admin" asp-controller="Applicants" asp-action="Create">Create New Applicant</a>
</div>
<br />
<h3>In-Interview Applicants</h3>
<br />
<ul class="nav nav-tabs">
    <li class="nav-item nav-link active">
        <a class="nav-link" asp-area="Admin" asp-controller="Applicants" asp-action="Index">All Applicants In-Interview</a>
    </li>
    <li class="nav-item  nav-link active">
        <a class="nav-link" asp-area="Admin" asp-controller="Applicants" asp-action="HiredOrRejected">All Applicants Hired/Rejected</a>
    </li>
</ul>
<br />
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>
                Applicant Full Name
            </th>
            <th>
                Status
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Applicants)
        {
            <tr>
                <td>
                    @user.FirstName &nbsp; @user.LastName
                </td>
                <td>
                    <form method="post" asp-area="Admin" asp-controller="Applicants" asp-action="ChangeStatus">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" name="ApplicantId" value="@user.Id" />
                                <select name="StatusId" asp-items="@Model.Statuses" class="form-control">
                                    <option selected="selected" disabled="disabled">Select status</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="btn btn-warning" type="submit" value="Change Status" />
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Applicants" asp-action="Details" asp-route-id="@user.Id">Details</a>
                    @*<a class="btn btn-outline-primary" asp-page="/Pages/OtherDetails" asp-route-id="@user.Id">Details</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>