@model AdminInterviewDetailsViewModel
@{
    ViewData["Title"] = $"Details For Interview With {Model.Applicant.FirstName} {Model.Applicant.LastName}";
}
<br />
<h2>@ViewData["Title"]</h2>
<br />

@if (Model.TestId != null)
{
    <table class="table table-bordered  table-hover text-center">
        <thead>
            <tr>
                <th>
                    Applicant Name
                </th>
                <th>
                    Send Date
                </th>
                <th>
                    Test Name
                </th>
                <th>
                    Test Url
                </th>
                <th>
                    Test Result Url
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Applicant.FirstName @Model.Applicant.LastName
                </td>
                <td>
                    @Model.StartTime
                </td>
                <td>
                    @Model.Test.Name
                </td>
                <td>
                    @Model.Test.Url
                </td>
                <td>
                    @if (Model.Result.ResultUrl == null)
                    {
                        <form method="post" asp-area="Admin" asp-controller="Interview" asp-action="SetTestResult">
                            <div class="row">
                                <div class="col-md-8">
                                    <input name="ResultUrl" class="form-control" />
                                    <input type="hidden" name="ApplicantId" value="@Model.ApplicantId" />
                                    <input type="hidden" name="InterviewId" value="@Model.Id" />
                                </div>
                                <div class="col-md-4">
                                    <input class="btn btn-success" type="submit" value="Set Result" />
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        @Model.Result.ResultUrl
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="table table-bordered  table-hover text-center">
        <thead>
            <tr>
                <th>
                    Applicant Name
                </th>
                <th>
                    First Interviewer Name
                </th>
                <th>
                    Second Interviewer Name
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th>
                    Feedback
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Applicant.FirstName <br/> @Model.Applicant.LastName
                </td>
                <td>
                    @Model.Interviewers.First().Interviewer.FirstName  <br/> @Model.Interviewers.First().Interviewer.LastName
                </td>
                <td>
                    @if (Model.Interviewers.Last() != null)
                    {
                        @Model.Interviewers.Last().Interviewer.FirstName <br/> @Model.Interviewers.Last().Interviewer.LastName
                    }
                    else
                    {
                        <p> &mdash; </p>
                    }
                </td>
                <td>
                    @Model.StartTime
                </td>
                <td>
                    @Model.EndTime
                </td>
                <td>
                    <a asp-area="Interviewer" asp-controller="Feedbacks" asp-action="LeaveFeedback" class="btn btn-outline-primary" asp-route-InterviewId="@Model.Id">Leave Feedback</a>
                </td>
            </tr>
        </tbody>
    </table>
}


<a asp-controller="Interview" asp-action="Index" class="btn btn-outline-primary">Back</a>

